<li id="entry-<%= entry.id %>">
  <aside class="col-md-3">
    <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
    <span class="user"><%= link_to entry.user.name.upcase, entry.user %>
    </span>
  </aside>
  <session class="col-md-8 entries-details">
  <div class="panel panel-default">
  <div class="panel-heading title-entry"><%= entry.title%></div>
  <div class="panel-body"><%= entry.content %></div>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
    <% if entry.comments.any? %>
      <ol class="comments">
        <%= render entry.comments  %>
      </ol>
    <% end %>
    <% if !entry.nil? %>
      <section class="comment_form">
         <%= form_for Comment.new do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field-comment">
            <%= f.text_area :content, placeholder: "Compose new comment..." %>
          </div>
          <%= hidden_field_tag :entry_id, entry.id %>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      </section>
    <% end %>  
    </session>
</li>
